/* 
display
position
box-sizing
color and typography
other
*/

@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap&subset=cyrillic");

html {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  background: linear-gradient(#e66465, #9198e5) no-repeat;
}

.container {
  margin: auto;
  background: #eeeeee;
  width: 50%;
  padding: 1rem 2.5rem;
  margin-top: 4rem;
}
.titleReg {
  font-size: 1.7rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
.label {
  font-size: 1.2rem;
  margin-right: 1.5rem;
}
.label span {
  display: inline-block;
  width: 5rem;
  margin-bottom: 0.65rem;
}
.label_terms {
  margin-right: 1rem;
}
.checkTerms {
  margin-top: 1rem;
  margin-bottom: 0.65rem;
}
.checkTerms a {
  text-decoration: underline;
  color: #000000;
}
.registerBtn {
  padding: 0.5rem 1.3rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  background: #e664;
}
.registerBtn.active {
  background: #e66465;
}
.regLink {
  margin-left: 1rem;
  font-size: 1.2rem;
}
.loginBtn {
  padding: 0.5rem 1.3rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  background: #e66465;
}

.inputPsw {
  position: absolute;
}

.error {
  border: 1px solid red;
}

.valid {
  border: 1px solid green;
}

label.error {
  border: none;
  color: red;
  font-weight: 600;
}

.showPswIcon {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  left: 185px;
  top: 1.5px;
  background-color: #000;
  cursor: pointer;
}

#spinner {
  display: none;
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
  width: 32px;
}
/* main page */

.container_main-page {
  width: 80%;
  margin-top: 3rem;
}
.container_main-page p {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.container_main-page p span {
  margin-right: 36%;
}
.container table {
  border-collapse: collapse;
}
.container table td,
.container table th {
  padding: 0.5rem;
  border: 1px solid #000;
}
.container table th {
  background-color: #9198e5;
}
.container table tr:hover {
  background-color: #c2c2c2;
}
/* my profile */
.profile-pic {
  width: 400px;
  height: 200px;
  margin: 0 0 0 -80px;
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}
.profile-pic_1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.profile-pic_2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #e66465;
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
  cursor: pointer;
}
.profile-pic_2:hover {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.container_my-profile {
  display: flex;
}

#deleteAvatar {
  position: absolute;
  left: 36%;
}

#profPicForm {
  display: none;
}

.profile-info {
  margin-top: 1rem;
}
.profile-info p {
  font-size: 1.2rem;
}
.profile-info button {
  padding: 0.5rem 1.3rem;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  background: #e66465;
}
.profile-info button:last-of-type {
  margin-bottom: 0.5rem;
}

/* my lots */
.profile {
  display: flex;
  margin-bottom: 1.5rem;
}

.lot_field {
  display: block;
}

.lot_field span {
  width: 5rem;
  margin-right: 5rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background: #c2c2c2;
  padding: 3rem;
  margin: 5% auto;
  width: 50%;
}

.modal-content h2 {
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  margin: 15px 20px;
  font-size: 48px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#createLotForm {
  margin-left: 8rem;
}

#createLotPublish {
  margin-top: 3rem;
  margin-left: 8rem;
}

.btn {
  padding: 0.5rem 1.3rem;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  background: #e66465;
}

.lot_photo {
  display: block;
  margin-top: 1.5rem;
}

.create_lot_photo {
  display: block;
  margin: 1.5rem 0;
  cursor: pointer;
}

#createLotPhoto {
  display: block;
}

.lot-menu {
  display: flex;
}

#currentLotForm {
  margin-top: 2rem !important;
}

.lotPhotos {
  margin: 1rem 0;
}

/* Header */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.fixed-header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: #c6d8ff;
  border-bottom: solid black 3px;
  font-family: "Press Start 2P", cursive;
  font-size: 0.8rem;
  height: 64px;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 5%;
  z-index: 999;
}

.fixed-header__logo {
  display: inherit;
  align-items: center;
  justify-content: flex-start;
  min-width: 5%;
}

.fixed-header__logo a img {
  width: 32px;
  height: 32px;
}

.fixed-header__menu {
  display: flex;
  min-width: 95%;
  justify-content: space-between;
  min-height: 100%;
}

.fixed-header__menu div {
  min-width: 100%;
  min-height: 100%;
}

.fixed-header__menu ul {
  display: flex;
  align-items: center;
  min-height: 100%;
  flex-wrap: wrap;
}

.fixed-header__menu-item {
  background-color: #2a88ff;
  border: solid black 3px;
  box-shadow: inset 10px 10px 0px -7px #3a639f;
  padding: 7px 15px;
  margin: 0 5px;
  cursor: pointer;
}

.fixed-header__menu-item:hover {
  color: white;
}

.fixed-header__menu-item:active {
  color: black;
  box-shadow: inset 10px 10px 0px -7px transparent;
  box-shadow: 5px 5px 0px -1px #3a639f;
}

.fixed-header__menu-item_left {
  margin-right: auto;
}

.fixed-header__menu-item_left:active {
  margin-right: auto;
}

.fixed-header__menu-item_reg {
  background-color: #ffed62;
  box-shadow: inset 10px 10px 0px -7px #ceb629;
}

.fixed-header__menu-item_reg:hover {
  color: #ffa216;
}

.fixed-header__menu-item_reg:active {
  box-shadow: inset 10px 10px 0px -7px transparent;
  box-shadow: 5px 5px 0px -1px #ceb629;
}

.fixed-header__menu-item_exit {
  background-color: #ff4747;
  box-shadow: inset 10px 10px 0px -7px #ac2d2d;
}

.fixed-header__menu-item_exit:active {
  box-shadow: inset 10px 10px 0px -7px transparent;
  box-shadow: 5px 5px 0px -1px #ac2d2d;
}

.menu-question {
  cursor: text;
  color: white;
}

main {
  margin-top: 67px;
}
/* ---------------------------- */

#menuIfNotLogged {
  display: none;
}

/* end Nav */

.btnActive {
  background: #aaa;
  text-decoration: underline;
}

.my-lots-archived {
  display: none;
}

.linkToLotPage {
  color: #9198e5;
  margin: 1.5rem 0;
}

.linkToPage {
  color: #ff4747;
  font-weight: 600;
}

.errorMsg {
  margin: 1rem 0;
  color: #ff4747;
  font-weight: 600;
}
