@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.logoAdmin {
  width: 64px;
  height: auto;
  background-image: url(./letter-a.png);
}

.sidebar_container {
  display: flex;
}

.sidebar {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  list-style-type: none;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #ffc6c6; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidebar__logo {
  width: 50px;
  height: auto;
  margin-left: 55px;
}

.sidebar a {
  display: block;
  max-width: 160px;
  padding: 6px 2px;
  margin: auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 0.7rem;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  background: #ff4747;
}

.sidebar button {
  display: block;
  border: 0;
  min-width: 160px;
  max-width: 160px;
  padding: 6px 2px;
  margin: auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 1rem;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  background: #ff4747;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar-header {
  display: block;
  width: 100%;
  height: 70px;
}

.lots-page {
  margin-left: 160px;
  padding: 0 10px;
}

.moderators-page_container {
  margin-left: 200px;
}

.form-control {
  max-width: 425px;
  margin-bottom: 5px;
}

.moderators-page_btns {
  display: flex;
  max-width: 425px;
  justify-content: space-evenly;
}

.btn {
  min-width: 202px;
}

.errorMsg {
  color: red;
  font-size: 1.2rem;
  font-style: italic;
  margin-top: 25px;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
}

.login_heading {
  text-align: center;
  text-shadow: 5px 5px 2px #ffc6c6;
  font-family: "Press Start 2P", cursive;
  margin-bottom: 75px;
}

.login_error-msg {
  margin-top: 70px;
  margin-left: 30px;
  font-family: "Press Start 2P", cursive;
  color: red;
  text-align: center;
}

.login-btn {
  background: #ff4747 !important;
  border-color: #ff4747 !important;
}

.moderator-btn {
  background: #ff4747 !important;
  border-color: #ff4747 !important;
}

.lot-table {
  border-collapse: collapse;
}
.lot-table td,
.lot-table th {
  padding: 0.5rem;
  border: 1px solid #000;
}
.lot-table th {
  background-color: #ffc6c6;
}
.lot-table tr:hover {
  background-color: #c2c2c2;
}

.historyLink {
  color: #007bff;
}

.historyLink:hover {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}
